#include "C:\masm32\include\resource.h"

#define BTN_0 		3000
#define BTN_1	 	3001
#define BTN_2		3002
#define BTN_3		3003
#define BTN_4		3004
#define BTN_5		3005
#define BTN_6		3006
#define BTN_7		3007
#define BTN_8		3008
#define BTN_9		3009
#define BTN_DOT 	3010
#define BTN_SUM 	3011
#define BTN_MINUS	3012
#define BTN_DIV 	3013
#define BTN_MUL		3014
#define BTN_CALC	3015
#define BTN_DEL		3016
#define BTN_C		3017
#define BTN_SIGN	3018
#define BTN_MOV		3019


MyDialog DIALOG 10, 10, 121, 215
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX |
WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK
CAPTION "Calculator"
CLASS "DLGCLASS"
BEGIN
	CONTROL "0",BTN_0,"Button",BS_VCENTER,31,191,28,23,0x00000000
	CONTROL "1",BTN_1,"Button",BS_VCENTER,1,161,28,23,0x00000000
	CONTROL "2",BTN_2,"Button",BS_VCENTER,31,161,28,23,0x00000000
	CONTROL "3",BTN_3,"Button",BS_VCENTER,61,161,28,23,0x00000000
	CONTROL "4",BTN_4,"Button",BS_VCENTER,1,131,28,23,0x00000000
	CONTROL "5",BTN_5,"Button",BS_VCENTER,31,131,28,23,0x00000000
	CONTROL "6",BTN_6,"Button",BS_VCENTER,61,131,28,23,0x00000000
	CONTROL "7",BTN_7,"Button",BS_VCENTER,1,101,28,23,0x00000000
	CONTROL "8",BTN_8,"Button",BS_VCENTER,31,101,28,23,0x00000000
	CONTROL "9",BTN_9,"Button",BS_VCENTER,61,101,28,23,0x00000000
	CONTROL ".",BTN_DOT,"Button",BS_VCENTER,61,191,28,23,0x00000000
	CONTROL "/",BTN_DIV,"Button",BS_VCENTER,91,71,28,23,0x00000000
	CONTROL "x",BTN_MUL,"Button",BS_VCENTER,91,101,28,23,0x00000000
	CONTROL "+",BTN_SUM,"Button",BS_VCENTER,91,161,28,23,0x00000000
	CONTROL "-",BTN_MINUS,"Button",BS_VCENTER,91,131,28,23,0x00000000
	CONTROL "-",BTN_SIGN,"Button",BS_VCENTER,1,191,28,23,0x00000000
	CONTROL "Del",BTN_DEL,"Button",BS_VCENTER,61,71,28,23,0x00000000
	CONTROL "=",BTN_CALC,"Button",BS_VCENTER,91,191,28,23,0x00000000
	CONTROL "C",BTN_C,"Button",BS_VCENTER,31,71,28,23,0x00000000
	CONTROL "%",BTN_MOV,"Button",BS_VCENTER,1,71,28,23,0x00000000
END



